.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow-y: auto;
	transform: translate(-616px);
	transition: transform 0.5s ease;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-direction: column;
	padding: 50px 30px;
	min-height: 100%;
	box-sizing: border-box;
	gap: 50px;
}

.fieldGroup {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.separatorWrapper {
	width: 100%;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
